{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "base.njk" %}

{% block content %}
<h1 class="govuk-heading-xl">Start page</h1>

<form action="/" method="post">
    {{ govukButton({
        text: "Start now",
        preventDoubleClick: true,
        isStartButton: true
    }) }}
</form>
{% endblock %}