{% extends "base.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set noTimeoutWarning = true %}

{% block content %}
    {{ govukPanel({
        titleText: "Application complete",
        html: "Your reference number<br><strong>HDJ2123F</strong>"
    }) }}

    <p class="govuk-body">We have sent you a confirmation email.</p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
        Something
    </p>

    <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
    </p>
{% endblock %}