{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "base.njk" %}

{% block content %}
    <h2 class="govuk-heading-l">Telling Civil Service Pension Scheme</h2>

    <p class="govuk-body">We can tell Civil Service Pension Scheme about the death.
        This is to find out whether the person had a Civil Service Pension, and to update relevant records and pension
        payments.</p>

    <form action="/civil-service-pension" method="post" novalidate>

        {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "tell-civil-service-pension",
            value: form['tell-civil-service-pension'] or session['tell-civil-service-pension'],
            errorMessage: errors['tell-civil-service-pension'],
            fieldset: {
                legend: {
                    text: "Tell Civil Service Pension Scheme about the death?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                }
            },
            items: [
                {
                    value: "yes",
                    text: "Yes"
                },
                {
                    value: "no",
                    text: "No"
                }
            ]
        }) }}

        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true
        }) }}
    </form>

{% endblock %}
