{% extends "base.njk" %}

{% block pageTitle %}Sorry, there is a problem with this service - Report a Death - GOV.UK{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">Sorry, there is a problem with this service</h1>
    <p class="govuk-body">
        Try again later.
    </p>
    <p class="govuk-body">
        If you were signed in with One Login, your progress has been saved.
    </p>
{% endblock %}