{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "base.njk" %}

{% block content %}
    <div id="cookies-disabled-content" class="hide">
        <h1 class="govuk-heading-xl">Enable cookies to use this site</h1>
        <p class="govuk-body">
            Cookies appear to be disabled, or are not supported. You must enable them to use this site.
        </p>
    </div>

    <div id="cookies-enabled-or-not-known-content">
        <h1 class="govuk-heading-xl">Please start again</h1>
        <p class="govuk-body">
            You do not have a session. It could be that you:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>did not enter any details for an hour, so we have cleared your information to keep it secure</li>
            <li>followed a link to the middle of this service - please start from the beginning</li>
            <li>disabled browser cookies - you must enable them for this service</li>
        </ul>

        {{ govukButton({
            text: "Start again",
            href: "/"
        }) }}
    </div>

    <script type="text/javascript">
        if (navigator.cookieEnabled === false) {
            document.getElementById("cookies-disabled-content").classList.remove("hide")
            document.getElementById("cookies-enabled-or-not-known-content").classList.add("hide")
        }
    </script>
{% endblock %}