{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "base.njk" %}

{% block pageTitle %}Page not found – Report a death – GOV.UK{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">Page not found</h1>
    <p class="govuk-body">
        If you typed the web address, check it is correct.
    </p>
    <p class="govuk-body">
        If you pasted the web address, check you copied the entire address.
    </p>
{% endblock %}