{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "base.njk" %}

{% block content %}
    <h1 class="govuk-heading-xl">Check your answers</h1>

    <p class="govuk-body">Check that the information on this page is correct.</p>

    <h2 class="govuk-heading-m">Pensions for public sector jobs</h2>

    {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
            {
                key: {
                text: "National Insurance number"
            },
                value: {
                text: answers["nino"]
            },
                actions: {
                items: [
                    {
                        href: "/nino",
                        text: "Change",
                        visuallyHiddenText: "Allows the national insurance number to be changed"
                    }
                ]
            }
            },
            {
                key: {
                text: "Pensions providers to tell"
            },
                value: {
                text: answers['pension-providers']
            },
                actions: {
                items: [
                    {
                        href: "/inform-pension-providers",
                        text: "Change",
                        visuallyHiddenText: "Allows the pension providers to be informed to be changed"
                    }
                ]
            }
            },
            {
                key: {
                text: "Telling Other Service Pension Providers"
            },
                value: {
                text: answers["other-pension-providers"]
            },
                actions: {
                items: [
                    {
                        href: "/other-pension-providers",
                        text: "Change",
                        visuallyHiddenText: "Allows the other pension providers to be changed"
                    }
                ]
            }
            }
        ]
    }) }}

    <form action="/check-answers" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
            text: "Submit"
        }) }}

    </form>


{% endblock %}
