{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "base.njk" %}

{% block content %}
    <h1 class="govuk-heading-xl">Check your answers</h1>

    <p class="govuk-body">Check that the information on this page is correct.</p>

    <h2 class="govuk-heading-m">Pensions for public sector jobs</h2>

    {% set publicSectorPensions %}
      {% if session['pensions-to-tell'] | length %}
      {%  for item in session['pensions-to-tell'] %}
        {{ mappings['publicSectorPensionsMapping'][item] }}<br />
      {% endfor %}
      {% else %}
        None
      {% endif %}
    {% endset -%}

    {% set otherPensionProviders %}
      {% if session['other-pension-providers'] | length %}
      {% for item in session['other-pension-providers'] %}
        {{ mappings['OtherPensionProvidersMap'][item] }}<br />
      {% endfor %}
      {% else %}
        None
      {% endif %}
    {% endset %}

    {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
            {
                key: {
                text: "National Insurance number"
            },
                value: {
                text: session["national-insurance-number"] | formatNationalInsuranceNumber
            },
                actions: {
                items: [
                    {
                        href: "/nino",
                        text: "Change",
                        visuallyHiddenText: "national insurance number"
                    }
                ]
            }
            },
            {
                key: {
                text: "Pensions providers to tell"
            },
                value: {
                html: publicSectorPensions
            },
                actions: {
                items: [
                    {
                        href: "/inform-pension-providers",
                        text: "Change",
                        visuallyHiddenText: "pension providers to tell"
                    }
                ]
            }
            },
            {
                key: {
                text: "Telling Other Service Pension Providers"
            },
                value: {
                html: otherPensionProviders
            },
                actions: {
                items: [
                    {
                        href: "/other-pension-providers",
                        text: "Change",
                        visuallyHiddenText: "other pension providers to tell"
                    }
                ]
            }
            }
        ]
    }) }}

    <form action="/check-answers" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
            text: "Submit"
        }) }}

    </form>


{% endblock %}
